.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Rectangle-2-Copy {
  /* width: 90rem; */
  /* height: 7.125rem; */
  margin: 0 0 4.375rem;
  padding: 2.75rem 67.625rem 2.625rem 9.375rem;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

.Front-End-Test---Home-view {
  /* width: 90rem; */
  /* height: 64rem; */
  /* padding: 0 0 6.125rem; */
  background-color: #fcfcfc;
}

.All {
  
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #1797ff;
}

img.HACKER-NEWS {
  object-fit: contain;
  font-family: 'Baskervville', serif;
  font-size: 1.75rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3b3b3b;
  left: 9.375rem;
  top: 2.75rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Text {
  margin: 0 1.187rem 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #343434;
}